
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.card{
  width: 18rem;
}

.card-img-top{
  height: 180px;
  width: 280px;

}


.wrapper{

  display:flex;
  overflow-x:auto ;
}

.wrapper .item{
 
  text-align: center;
}

.btn-selected {
  border: 4px solid red;
}  


.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: white;
}

.Pictures {
  margin: 10px;
  display:flex;
  overflow-y:auto ;
}
.Pictures .item{
  text-align: center;
}
img {
  margin: 0px;
  height: 150px;
  width: 150px;
 
}

.Board {
  margin-top: 100px;

  width: 541px;
  height: 341px;
  border: 0px solid black;

}
#base{
  background-repeat: no-repeat;
  background-size: cover;
  width: 541px;
  height: 541px;
  background-image: url(https://st.depositphotos.com/1027198/2943/i/950/depositphotos_29436211-stock-photo-pizza-base-with-tomato-sauce.jpg);
  
}
.active, .btn:hover {
  background-color: pink;;
  color: white;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: black;
  margin:0px auto;
  padding: 20px 0px 0px 0px;
}
.jumbotron {
  padding:10px 30px 70px 30px;
  margin:0px auto;

}
.navbar-dark {
    background-color: black;
}
.imglg{
  width: fit-content;
  height: fit-content;
}
.btn{
  border-radius: 10px;
  border: 0px;
  background-color: black;
  margin-bottom:20px;
}
.card{
  opacity: .9;
  color:black
}
.image1{
  position: absolute;
  width: 500px;
  height: 500px;
  top: 320px;

  right: 0;
  
  
}

.page-enter{
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active{
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.1;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}
